APP_ENV = "development"
APP_HOST = "127.0.0.1"
APP_PORT = "4000"
APP_WEB_URL = "http://localhost:3000"

POSTGRES_USER = "fincheck"
POSTGRES_PASSWORD = "fincheck"
POSTGRES_HOST = "127.0.0.1"
POSTGRES_PORT = "5432"
POSTGRES_DATABASE = "fincheck"
POSTGRES_SSL = "false"

RABBITMQ_HOST = "127.0.0.1"
RABBITMQ_PORT = "5672"
RABBITMQ_USER = "fincheck"
RABBITMQ_PASSWORD = "fincheck"
RABBITMQ_VHOST = "/"

SMTP_HOST = "127.0.0.1"
SMTP_PORT = "1025"
SMTP_SECURE = "false"
SMTP_USER = ""
SMTP_PASSWORD = ""

MAIL_FROM_ADDRESS = "noreply@fincheck.com.br"
MAIL_FROM_NAME = "Fincheck"
